#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

#nav li {
    float: right;
}

#nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#nav li a:hover {
    color: black;
}

body {
    box-sizing: border-box;
    /* font */
    font-family: "Averta CY", sans-serif;
}

body {
    margin: 0;
}